<!-- Portfolio Section Heading--><section class="page-section portfolio" id="Medici칩n y An치lisis">
    <div class="container">
        <h2 class=" text-center text-uppercase text-secondary mb-0">Medici칩n y An치lisis</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            {% for medicion in medicion %}

                <div class="col-md-6 col-lg-4 mb-5">
                    <a href="{{ asset('doc/repo/'~ medicion.fichero )}}">
                        <div class="portfolio-item mx-auto">
                            <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                                <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ asset('front/assets/img/portfolio/icono-pdf-1.png') }}" alt="" />
                            <h3 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ medicion.nombre }}</h3>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
